<a href="https://colab.research.google.com/github/jimmy-io/worksheeets-/blob/master/02_Filtering_%26_Sorting_Euro12_Exercises_with_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

In [3]:
##Select only the Goal column.

euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [6]:
## How many team participated in the Euro2012?

euro12['Team'].value_counts().count()

16

In [8]:
euro12.shape

(16, 35)

In [9]:
euro12.describe()

           Goals  Shots on target  ...  Subs off  Players Used
count  16.000000        16.000000  ...  16.00000     16.000000
mean    4.750000        17.125000  ...  10.87500     17.250000
std     2.886751        10.582218  ...   3.53789      1.527525
min     1.000000         7.000000  ...   7.00000     15.000000
25%     2.750000         9.750000  ...   8.50000     16.000000
50%     4.500000        13.000000  ...  10.50000     17.000000
75%     5.250000        22.000000  ...  12.50000     18.250000
max    12.000000        42.000000  ...  18.00000     20.000000

[8 rows x 30 columns]

In [11]:
##View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

In [13]:
##  Sort the teams by Red Cards, then to Yellow Cards

discipline.sort_values(['Red Cards','Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

In [14]:
## Calculate the mean Yellow Cards given per Team

euro12['Yellow Cards'].mean()

7.4375

In [16]:
## Filter teams that scored more than 6 goals

euro = euro12[euro12['Goals'] > 6]
euro.head()

       Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5   Germany     10               32  ...       15       15           17
13    Spain     12               42  ...       17       17           18

[2 rows x 35 columns]

In [18]:
## Select the teams that start with G

euro12[euro12['Team'].str.startswith('G')]

      Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5  Germany     10               32  ...       15       15           17
6   Greece      5                8  ...       12       12           20

[2 rows x 35 columns]

In [20]:
## Select the first 7 columns

euro12.iloc[:,0:7]

                   Team  Goals  ...  % Goals-to-shots  Total shots (inc. Blocked)
0               Croatia      4  ...             16.0%                          32
1        Czech Republic      4  ...             12.9%                          39
2               Denmark      4  ...             20.0%                          27
3               England      5  ...             17.2%                          40
4                France      3  ...              6.5%                          65
5               Germany     10  ...             15.6%                          80
6                Greece      5  ...             19.2%                          32
7                 Italy      6  ...              7.5%                         110
8           Netherlands      2  ...              4.1%                          60
9                Poland      2  ...              5.2%                          48
10             Portugal      6  ...              9.3%                          82
11  Republic of Ireland      1  ...              5.2%                          28
12               Russia      5  ...             12.5%                          59
13                Spain     12  ...             16.0%                         100
14               Sweden      5  ...             13.8%                          39
15              Ukraine      2  ...              6.0%                          38

[16 rows x 7 columns]

In [22]:
##Select all columns except the last 3

euro12.iloc[:, :-3]

                   Team  Goals  ...  Yellow Cards  Red Cards
0               Croatia      4  ...             9          0
1        Czech Republic      4  ...             7          0
2               Denmark      4  ...             4          0
3               England      5  ...             5          0
4                France      3  ...             6          0
5               Germany     10  ...             4          0
6                Greece      5  ...             9          1
7                 Italy      6  ...            16          0
8           Netherlands      2  ...             5          0
9                Poland      2  ...             7          1
10             Portugal      6  ...            12          0
11  Republic of Ireland      1  ...             6          1
12               Russia      5  ...             6          0
13                Spain     12  ...            11          0
14               Sweden      5  ...             7          0
15              Ukraine      2  ...             5          0

[16 rows x 32 columns]

In [29]:
##  Present only the Shooting Accuracy from England, Italy and Russia

euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']),'Shooting Accuracy']

3     50.0%
7     43.0%
12    22.5%
Name: Shooting Accuracy, dtype: object